* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}
$breakpoint-tablet: 76.8rem;
$breakpoint-desktop: 102.4rem;

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;

  --purple-600: #855fb1;
  --purple-300: #d9b8ff;

  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;

  --white: #fafafa;

  --font-primary: "Red Hat Display", sans-serif;
}

header {
  width: 100%;
  nav {
    // background-color: aquamarine;
    display: flex;
    justify-content: center;
    img {
      padding-top: 4.8rem;
    }
  }
}
// !header end
// * main start
.section__number {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  position: relative;
  background-color: var(--white);
  &::after {
    content: "";
    width: 0.1rem;
    height: 8rem;
    background-color: var(--slate-300);
    position: absolute;
    bottom: 100%;
  }
}
.section__number span {
  color: var(--slate-600);
  font-weight: 900;
  // display: block;
  // text-align: center;
  // line-height: 6;
}
main {
  .hero {
    padding-top: 6.4rem;
    // padding: 6.4rem 3.2rem 3.2rem;
    &__image-- {
      &left,
      &right {
        display: none;
      }
      &mobile {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    &__content {
      text-align: center;
      padding: 4.8rem 3.2rem 3.2rem;
      &--title {
        font-size: 4rem;
        font-weight: 700;
        color: var(--slate-900);
      }
      &--description {
        font-size: 1.6rem;
        color: var(--slate-600);
        line-height: 150%;
        padding: 2.4rem 0;
      }
      &--buttons {
        &-blue,
        &-purple {
          padding: 1.6rem 4rem;
          border: none;
          background: none;
          border-radius: 2.9rem;
          color: var(--white);
          font-size: 1.6rem;
          font-weight: 600;
        }
        &-blue {
          background-color: var(--cyan-600);
          margin-bottom: 1.6rem;
          span {
            color: var(--cyan-300);
            font-weight: 500;
          }
        }
        &-purple {
          background-color: var(--purple-600);
        }
      }
    }
  }

  //   !end herooo
  // *start features

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem;
    gap: 6.4rem;
    &__images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1.6rem;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      img {
        
        width: 100%;
        border-radius: 0.6rem;
        
      }
    }
    &__content {
      text-align: center;
      &--eyebrow {
        color: var(--cyan-600);
        font-size: 1.2rem;
        letter-spacing: 4px;
        line-height: 110%;
        font-weight: 600;
        margin-bottom: 1.6rem;
      }
      &--title {
        font-size: 3.2rem;
        font-weight: 900;
        color: var(--slate-900);
        line-height: 110%;
        margin-bottom: 3.2rem;
      }
      &--description {
        font-size: 1.6rem;
        color: var(--slate-600);
        line-height: 150%;
        font-weight: 500;
      }
    }
  }

  //   !end features
  // *start footer

  footer {
    position: relative;
  }
}

.footer {
  .section__number {
    transform: translateY(50%);
    position: relative;
    z-index: 3;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__content {
    padding: 6.4rem 3.2rem;
    background-image: url(../assets/mobile/image-footer.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    & > * {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(rgb(77, 150, 169), 0.8);
      z-index: 1;
    }
    color: var(--white);
    &--title {
      font-size: 3.2rem;
      font-weight: 900;
    }
    &--description {
      font-size: 1.6rem;
      line-height: 150%;
      padding: 2.4rem 0;
    }
  }
  &__button {
    padding: 1.6rem 4rem;
    border: none;
    background: none;
    border-radius: 2.9rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--purple-600);
    span {
      color: var(--purple-300);
    }
  }
}
