* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;

  --purple-600: #855fb1;
  --purple-300: #d9b8ff;

  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;

  --white: #fafafa;

  --font-primary: "Red Hat Display", sans-serif;
}

header {
  width: 100%;
  nav {
    // background-color: aquamarine;
    display: flex;
    justify-content: center;
    img {
      padding-top: 4.8rem;
    }
  }
}
// !header end
// * main start
.section__number {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  position: relative;
  background-color: var(--white);
  &::after {
    content: "";
    width: 0.1rem;
    height: 8rem;
    background-color: var(--slate-300);
    position: absolute;
    bottom: 100%;
  }
}
.section__number span {
  color: var(--slate-600);
  font-weight: 900;
  // display: block;
  // text-align: center;
  // line-height: 6;
}
main {
  .hero {
    padding-top: 6.4rem;
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        justify-content: space-between;
      }
    &__image-- {
      &left,
      &right {
        display: none;
        @media (min-width: $breakpoint-desktop) {
          display: block;
        }
      }
      &mobile {
        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4.8rem 3.2rem 3.2rem;
      &--title {
        font-size: 4rem;
        font-weight: 700;
        color: var(--slate-900);
      }
      &--description {
        font-size: 1.6rem;
        color: var(--slate-600);
        line-height: 150%;
        padding: 2.4rem 0;
        max-width: 40rem;
      }
      &--buttons {
        &-blue,
        &-purple {
          @media (min-width: $breakpoint-desktop) {
            cursor: pointer;
          }
          padding: 1.6rem 4rem;
          border: none;
          background: none;
          border-radius: 2.9rem;
          color: var(--white);
          font-size: 1.6rem;
          font-weight: 600;
        }
        &-blue {
          background-color: var(--cyan-600);
          margin-bottom: 1.6rem;
          span {
            color: var(--cyan-300);
            font-weight: 500;
          }
        }
        &-purple {
          background-color: var(--purple-600);
        }
      }
    }
  }

  //   !end herooo
  // *start features

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem;
    gap: 6.4rem;
    &__images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1.6rem;
      // !mediaaaaaaaaaa
      // @media (max-width: ($breakpoint-mobile - 1px)) {
      //   grid-template-columns: 1fr 1fr;
      //   grid-template-rows: 1fr 1fr;
      //   gap: 1.6rem;
      // }
      @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        grid-template-columns: repeat(4, 15rem);
        grid-template-rows: 1fr;
      }
      @media (min-width: $breakpoint-desktop) {
        grid-template-columns: repeat(4, 22rem);
        grid-template-rows: 1fr;
      }
      img {
        width: 100%;
        border-radius: 0.6rem;
      }
    }
    &__content {
      width: 100%;
      padding: 3.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        width: 50rem;
      }
      @media (min-width: $breakpoint-desktop) {
      }
      text-align: center;

      // *..................
      &--eyebrow {
        @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
          font-size: 1.4;
        }
        color: var(--cyan-600);
        font-size: 1.2rem;
        letter-spacing: 4px;
        line-height: 110%;
        font-weight: 600;
        margin-bottom: 1.6rem;
      }
      // *..................
      &--title {
        @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
          font-size: 3.6rem;
          padding: 0 4rem;
        }
        font-size: 3.2rem;
        font-weight: 900;
        color: var(--slate-900);
        line-height: 110%;
        margin-bottom: 3.2rem;
      }
      // *..................
      &--description {
        @media (max-width: $breakpoint-mobile) {
          max-width: 30rem;
        }
        @media (min-width: $breakpoint-desktop) {
          max-width: 45rem;
        }
        font-size: 1.6rem;
        color: var(--slate-600);
        line-height: 150%;
        font-weight: 500;
      }
    }
  }
}
//   !end features
// *start footer

// footer {
//   position: relative;
// }

.footer {
  width: 100%;

  .section__number {
    transform: translateY(50%);
    position: relative;
    z-index: 3;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // *content.............................

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 6.4rem 3.2rem;
    background-image: url(../assets/mobile/image-footer.jpg);
    // !media ..................................
    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
      background-image: url(../assets/tablet/image-footer.jpg);
    }
    // @media (min-width: 1024px) {
    //   padding: 0 20rem;
    //   display: flex;
    //   text-align: start;
    //   // flex-direction: row;
    //   align-items: center;
    //   justify-content: space-between;
    //   gap: 2rem;
    //   background-color: red;
    // }
    background-size: cover;
    background-position: center;
    position: relative;
    & > * {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(rgb(77, 150, 169), 0.8);
      z-index: 1;
    }
    color: var(--white);
    &--title {
      font-size: 3.2rem;
      font-weight: 900;
    }
    &--description {
      max-width: 35rem;
      @media (min-width: $breakpoint-tablet) {
      }
      font-size: 1.6rem;
      line-height: 150%;
      padding: 2.4rem 0;
    }
  }
  &__button {
    padding: 1.6rem 4rem;
    border: none;
    background: none;
    border-radius: 2.9rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--purple-600);
    span {
      color: var(--purple-300);
    }
  }
}
